:root {
  --color-error: #db5656;
  --color-main-dark: #00040F;
  --color-main-dark--highlight: #EAEAEA24;
  --color-main-light: #EAEAEA;
}

body {
  background-color: var(--color-main-dark);

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Segoe UI Light';
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-main-light);
  border-radius: 10px;
}

.preventSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.centerContentVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerContentHorizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cursorPointer:hover {
  cursor: pointer;
}

.highlightElement:hover {
  background-color: var(--color-main-dark--highlight);
}

* {
  margin: 0;
  padding: 0;
}
