:root {
  --color-red: #E1B5B5;
  --color-red-highlight: #E79C9C;
  --color-green: #9EDDB7;
  --color-green-highlight: #7ff3ae;
  --color-main-dark: #00040F;
  --color-main-dark--highlight: #EAEAEA24;
  --color-main-light: #EAEAEA;
}

body {
  margin: 0;
  padding: 0;
  
  background-color: var(--color-main-dark);
  max-width: 1280px;

  font-family: 'Segoe UI Light';
}

.preventSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursorPointer:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}
