body {
  margin: 0;
  padding: 0;
  
  background-color: #00040f;
  max-width: 1280px;

  font-family: 'Segoe UI Light';
}

.preventSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursorPointer:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}
